<template>
<div class="Fondo">
<div class="Barra" >
   <b-navbar type="white" variant="white">
    <b-navbar-nav>
         <b-dropdown size="lg"  variant="link" class="MenuBarras" toggle-class="text-decoration-none" no-caret>
    <template #button-content>
      	&#x1d79d;<span class="sr-only">Menu</span>
    </template> 
       <b-dropdown-item href="#">Inicio</b-dropdown-item>
    <b-dropdown-item href="#">Conocenos</b-dropdown-item>
    <b-dropdown-item href="#">Sobre Nosotros</b-dropdown-item>
  </b-dropdown>
  <input  v-model="usuarioN" class="N_Aplicacion" align-v="center"  >
     <input  v-model="userid" class="UserID" align-v="right"  >
      <b-button pill variant="outline-secondary" class="Salir">Salir</b-button>
    </b-navbar-nav>
  </b-navbar>
  <div class="AbajoDiv">
<b-container class="bv-example-row">
  <b-row>
    <b-col ><div class="Primera">
        <div class="cuadro1"> <br><b-button pill variant="outline-secondary" class="Inicio">Inicio</b-button>
        <br>
        <br>
        <b-button pill variant="outline-secondary" class="Expediente">Expediente</b-button></div>
        <div class="cuadro2">
            <br>
            <b-button pill variant="outline-secondary" class="Reportes">Reportes</b-button>
                </div>
        <div class="cuadro3"> <br> <br><b-button pill variant="outline-secondary" class="Configuracion">Configuración</b-button>
        <br>
        <br>
        <b-button pill variant="outline-secondary" class="Aseguradora">Aseguradora</b-button></div>
        </div></b-col>
    <b-col cols="6"><div class="Segunda">
        <br>
        <br>
        <h3 class="titulo1">Agenda del día</h3>
        <h3 class="titulo1">{{fechacom}}</h3>
        <br>
        <br>
        <br>
 <b-table :items="items" :fields="fields">
      <template #table-caption></template>
    </b-table>
        </div></b-col>
    <b-col><div class="Tercera">
      <br>
       <div class="CalendarioDiv">
    <b-calendar   v-model="value" class="Calendario" :min="min" :max="max" locale="en" ></b-calendar>
  </div>
        </div></b-col>
  </b-row>
</b-container>
</div>
</div>
</div>
</template>
<script>
const meses = ["Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre"];
const diasSemana =  ["Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado"];
const f=new Date(); 
 export default {
    data() {
         const now = new Date()
      const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
      // 15th two months prior
      const minDate = new Date(today)
      minDate.setMonth(minDate.getMonth() - 2)
      minDate.setDate(15)
      // 15th in two months
      const maxDate = new Date(today)
      maxDate.setMonth(maxDate.getMonth() + 2)
      maxDate.setDate(15)
      return {
      userid: this.$route.params.id,
      usuarioN: this.$route.params.nam,
      fechacom:  (diasSemana[f.getDay()] + ", " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear()),
       fields: ['Aseguradora', 'Nombre', 'Juzgado'],
        items: [
          { Aseguradora: "Maffre", Nombre: 'Dickerson Macdonald', Juzgado: 'Juzgado Primero' },
          { Aseguradora: "Sura", Nombre: 'Larsen Shaw', Juzgado: 'Juzgado Segundo' },
          { Aseguradora: "Assa", Nombre: 'Geneva Wilson', Juzgado: 'Juzgado Tercero' }
        ],
         value: '',
        min: minDate,
        max: maxDate
      }
      
    }
}
</script>

<style  scoped>

.Barra{
border:solid;
border-color: black;
height: 20px;
margin-left: 5%;
margin-right: 5%;

}
.CalendarioDiv{
    margin-left: 5%;
    
}
.cuadro1{
    border-color: black;
    border:solid;
    margin-left: -2%;
     margin-right: 18%;
    background-color: white;
    height: 190px;

   
}
.cuadro2{
    border-color: black;
    border:solid;
    margin-left: -2%;
     margin-right: 18%;
    background-color: white;
    height: 95px;
   
}
.cuadro3{
    border-color: black;
    border:solid;
    margin-left: -2%;
     margin-right: 18%;
    background-color: white;
    height: 257px;
   
}
.Tercera{
   border-color: black;
    border:solid;
    margin-right: -21%;
    margin-left: -12%;
    background-color: white;
    height: 87vh;  
}
.titulo1{
    margin-left: 10%;
    color: rgb(192, 192, 192);
}
.Primera{
    border-color: black;
    border:solid;
    margin-left: -23%;
    background-color: white;
    height: 87vh; 
}
.Segunda{
    border-color: black;
    border:solid;
    margin-left: -16%;
       background-color: white;
    height: 87vh; 
    }
.Fondo{
        background: rgb(206, 206, 206);
        height: 100vh;       
    }
.UserID{
border: solid;
border-color: black;
color: red;
text-align: center;
 width: 220px;  
 height: 30px;
 margin-top: 0.7%;
margin-left: 430px;
margin-right: 80px;
background: rgb(255, 217, 217);
}
.Salir{
 margin-top: 0.3%;
 border-color: goldenrod;
 font:bold;
 color:goldenrod;
}
.Inicio{
 border-color: rgb(177, 177, 177);
 font:bold;
 margin-left: 35%;
 color:rgb(219, 219, 219);
}
.Expediente{
 border-color: rgb(177, 177, 177);
 font:bold;
 margin-left: 28%;
 color:rgb(219, 219, 219);
}
.Reportes{
 border-color: rgb(177, 177, 177);
 font:bold;
 margin-left: 29%;
 color:rgb(219, 219, 219);
}
.Configuracion{
 border-color: rgb(177, 177, 177);
 font:bold;
 margin-left: 25%;
 color:rgb(219, 219, 219);
}
.Aseguradora{
 border-color: rgb(177, 177, 177);
 font:bold;
 margin-left: 28%;
 color:rgb(219, 219, 219);
}
 .N_Aplicacion{
border: solid;
border-color: black;
color: red;
text-align: center;
  width: 220px;    
  height: 30px;
  margin-top: 0.7%;
  margin-left: 30px;
margin-right: 80px;
align-items: flex-end;
background: rgb(255, 217, 217);
    }
    .MenuBarras{
        height:5%;
    }
    .AbajoDiv{
        border: solid;
        border-color: black;
                 height: 88vh;  
    }
</style>