<template>

<center>
<div class="div_contenedor">

  <div id="login1" class="login" align-v="center" 
  >
    <p class="N_Aplicacion" align-v="center">Agenda de Citas</p>
    <hr>
    <p class="Titulo_Cuenta">INGRESAR A LA CUENTA</p>
    <input  id ="usuario" v-model="user1" class="usu"    placeholder="USUARIO" >
    <input  id="password" v-model="pass1" class="contra"  type="password" placeholder="CONTRASEÑA" style=" margin-top: 10px">
      <button  class="ingresar" @click="makeToast()" >INGRESAR A CUENTA</button>

       <p class="small" ><small>OLVIDASTE TU CONTRASEÑA</small></p>

  </div>
 </div>
  </center>
</template>
 
<script>


 export default {
    
    data() {
      return {
        user: "Admin",
        pass:"654321",
        user1:'',
        pass1:'',
        nombre:'Administrador'
        
      }
      
    },
    methods: {




      makeToast(append = false) {
        if (this.user === this.user1 && this.pass === this.pass1) {
               this.$bvToast.toast(`Bienvenido ${this.user1}`, {
          title: 'Agenda de Citas',
          autoHideDelay: 5000,
          appendToast: append,
         
        })
      this.$router.push({
  name: "Agenda",
  params:{
    id: this.user1,
    nam: this.nombre
  }
});
      }else {
                 this.$bvToast.toast(`Usuario y contraseña incorrectos`, {
          title: 'Agenda de Citas',
          autoHideDelay: 5000,
          appendToast: append
          
        })
      }
      }
 }
    
  }
</script>

<style  scoped>
.login {
  background: rgb(255, 255, 255);
        width: 280px;       
        height: 255px;
        position: absolute;
        top:50%;
        left: 50%;           
        margin-top: -100px;
        margin-left: -100px;
        border: solid;
        border-color: goldenrod;
}
.div_contenedor{
        background: rgb(206, 206, 206);
        height: 100vh;       
    }
    .N_Aplicacion{
border: solid;
border-color: black;
color: red;
margin-top: 5px;
margin-left: 20px;
margin-right: 20px;
background: rgb(255, 217, 217);
    }
    .Titulo_Cuenta{
      color: goldenrod;
      font-weight: bold;
    }

    .usu{
 width: 220px; 

    }
    .ingresar{
 margin-top: 10px;
 background: rgb(85, 85, 85);
color: white;
font-weight: bold;
 width: 220px; 
    }
    .contra{
      width: 220px;  
    }
    .small
    {
      font-size: "4";

    }
</style>